<launch>

  <!-- Arguments -->
  <arg name="dataset_path" default="/home/bjoshi/visual-inertial-comparison/datasets/cave/mav0" />
  <arg name="bag" default="/home/bjoshi/dense_reconstruction/cave_florida.bag" />
  <arg name="left_image_topic" default="/slave1/image_raw/compressed" />
  <arg name="right_image_topic" default="/slave2/image_raw/compressed" />
  <arg name="imu_topic" default="/imu/imu" />
  <arg name="config_file" default="$(find utils_ros)/config/stereo_rig/stereorig.yaml" />
  <arg name="scale" default="0.5" />
  <arg name="rectify" default="true" />

  <node name="bag_to_asl" pkg="utils_ros" type="bag_to_asl.py" output="screen" required="true">
    <param name="dataset_path" value="$(arg dataset_path)" />
    <param name="bag" value="$(arg bag)" />
    <param name="left_image_topic" value="$(arg left_image_topic)" />
    <param name="right_image_topic" value="$(arg right_image_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="config_file" value="$(arg config_file)" />
    <param name="scale" value="$(arg scale)" />
    <param name="rectify" value="$(arg rectify)" />
  </node>

</launch>