<launch>

  <!-- Arguments -->
  <arg name="image_dir" value="/home/bjoshi/colmap/test"/>
  <arg name="scale" value="1.0"/>
  <arg name="img_freq" value="20"/>
  <arg name="config_file" value="$(find utils_ros)/config/stereo_rig/shipwreck.yaml"/>
  <!-- <arg name="bag_file" value="/home/bjoshi/Downloads/cave_loop_w_cam_info.bag"/> -->

  <param name="/use_sim_time" value="true"/>

  <!-- <node name="rosbag" pkg="rosbag" type="play" args="$(arg bag_file) clock" />  -->

  <!-- To un-compress image topics -->
  <node name="republish1" type="republish" pkg="image_transport" output="screen" args="compressed in:=/slave1/image_raw raw out:=/slave1/image_raw" />
  <node name="republish2" type="republish" pkg="image_transport" output="screen" args="compressed in:=/slave2/image_raw raw out:=/slave2/image_raw" />


  <node name="colmap_stereo" pkg="utils_ros" type="colmap_stereo.py" output="screen">

    <remap from="/camera0" to="/slave1/image_raw"/>
    <remap from="/camera1" to="/slave2/image_raw"/>

    <param name="image_dir" value="$(arg image_dir)"/>
    <param name="scale" value="$(arg scale)"/>
    <param name="img_freq" value="$(arg img_freq)"/>
    <param name="config_file" value="$(arg config_file)"/>

  </node>

</launch>


