<launch>

    <arg name="input_bag" default="/home/bjoshi/Downloads/bus_out_loop_w_cam_info.bag" />
    <arg name="output_bag" default="/home/bjoshi/Downloads/bus_outside.bag" />
    <arg name="compressed" default="true" />
    <arg name="left_image_topic" default="/slave1/image_raw" />
    <arg name="right_image_topic" default="/slave2/image_raw" />
    <arg name="imu_topic" default="/imu/imu" />
    <arg name="scale" default="0.5" />
    <arg name="config" default="$(find utils_ros)/config/stereo_rig/stereorig2.yaml" />

    <node name="sync_bag" pkg="utils_ros" type="sync_bag" output="screen">
        <param name="input_bag" value="$(arg input_bag)" />
        <param name="output_bag" value="$(arg output_bag)" />
        <param name="left_image_topic" value="$(arg left_image_topic)" />
        <param name="right_image_topic" value="$(arg right_image_topic)" />
        <param name="imu_topic" value="$(arg imu_topic)" />
        <param name="compressed" value="$(arg compressed)" />
        <param name="scale" value="$(arg scale)" />
        <param name="config" value="$(arg config)" />
    </node>

</launch>